.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .loading{
        display: flex;
        place-content: center;
        gap: 50px;
    }

    .load{
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 18px;
        font-weight: 400;
    }
}