.list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .load{
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 18px;
        font-weight: 400;

    }
}