.contact{
    background-color: #232323;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper{
        width: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
            padding: 10px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
        }

        button{
            border: 1px solid transparent;
            padding: 10px;
            border-radius: 0 2px 2px 0;
            cursor: pointer;
        }

        input, button {
            &:focus{
                outline: none;
                border-color: #ff0080;
            }
        }
    }
}